body { 
    font-family: sans-serif; 
    background-color: #f4f4f9;
}

.container {
    max-width: 400px; 
    margin: 40px auto; 
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.title { 
    color: blue; 
    text-align: center; 
    margin-top: 40px;
}

.completed { 
    text-decoration: line-through; 
    color: gray; 
}

li { 
    margin-bottom: 12px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    cursor: pointer;
}

button {
    background-color: white;
    color: blue;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"] {
    background-color:red;
}